* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	background-color: var(--bg-color);
	font-family:'Lucida Sans', 'Lucida Grande', Arial, sans-serif;
}

:root {
	--bg-color: #f2f2f2;
	--text-color: #1b1b1b;
	--accent-color: #d11271;
	--accent-color-2: #860847;
	--accent-color-3: #d1127254;
	--light-color: #fff;
	--card-text-color: #0a0a0a;
	--rating-star: #ffc82f;
	--shadow: rgba(49, 49, 49, 0.281);
	--skeleton-color: #dddddd;

	--padding-sm: 6px; 
	--padding-m: 12px;

	--margin-sm: 6px;
	--margin-m: 12px;

	--border-radius: 8px;

	--gap-sm: 12px;
	--gap-m: 20px;
}


[data-theme='dark'] {
	--bg-color: #313131;
	--text-color: #f2f2f2;
}